<!-- <div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag "grass2.jpg" %>
      <div class="caption left-align">
        <h3>Landscaping</h3>
        <h5 class="light grey-text text-lighten-3">The way you deserve.</h5>
      </div>
    </li>
    <li>
      <%= image_tag "flag.jpg" %>
      <div class="caption right-align">
        <h3>Verteran Owned</h3>
        <h5 class="light grey-text text-lighten-3">Community focused.</h5>
      </div>
    </li>
    <li>
      <%= image_tag "grass-sun.jpg" %>
      <div class="caption left-align">
        <h3>Landscaping</h3>
        <h5 class="light grey-text text-lighten-3">The way you deserve.</h5>
      </div>
    </li>
  </ul>
</div>
-->
<div class="parallax-container">
  <div class="section no-pad-bot">
  <div class="container">
    <br>
    <br>
    <h1 class="header right white-text">DAO Lawns & More</h1>
  </div>
  <div class="parallax"> <%= image_tag 'grass2.jpg' %> </div>
</div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi-content-content-cut"></i><h2>
          <h5>Services</h5>
          <p class="light">We offer a variety of services to meet your lawncare needs. Our services include edging, mowing, trimming, hedging, pruning, and rubbish removal to name a few.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi-editor-attach-money"></i><h2>
          <h5>Affordable</h5>
          <p class="light">By offerring free estimates, we strive to provide quality services without suprise. <%= link_to "Contact us", email_new_path %> today to schedule an appointment.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2>Icon<h2>
          <h5>Title</h5>
          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="section no-pad-bot">
  <div class="caption center-align">
    <h1 class="white-text">Verteran Owned</h1>
    <h3 class="white-text">Community Focused</h3>
  </div>
  <div class="parallax"> <%= image_tag 'flag.jpg' %> </div>
</div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag 'grass2.jpg' %></div>
</div>
