<%= form_for :user, html: { class: 'col s10' } do |u| %>

  <!-- User info -->
  <div class="row">
    <div class="input-field col s5">
      <%= u.label :firstname %>
      <%= u.text_field :firstname, class: 'validate'%>
    </div>
    <div class="input-field col s5">
      <%= u.label :lastname %>
      <%= u.text_field :lastname, class: 'validate'%>
    </div>
  </div>
  <div class="row">
  <div class="input-field col s5">
    <%= u.label :email %>
    <%= u.email_field :emailaddress, class: 'validate'%>
  </div>
  <div class="input-field col s5">
    <%= u.label :telephone %>
    <%= u.telephone_field :phone, class: 'validate'%>
  </div>
  <div class="row">
  <div class="input-field col s7">
    <%= u.label :address %>
    <%= u.text_field :street, class: 'validate'%>
  </div>
  <div class="input-field col s3">
    <%= u.label :zip%>
    <%= u.text_field :zip, class: 'validate'%>
  </div>
  </div>
  <!-- Email Section -->
  <%= fields_for :email do |e| %>
  <div class="row">
    <div class="input-field col s10">
    <i class="mdi-editor-mode-edit prefix"></i>
      <%= e.label :message %>
      <%= e.text_area :body, class: 'materialize-textarea' %>
    </div>
  </div>
  <% end %>

  <!-- Submit Button -->
  <div class="row">
    <div class="col s10 right-align">
      <%= u.button "Send", type: 'submit', class: 'btn waves-effect waves-light' do %>
        Send
        <i class="mdi-content-send right"></i>
      <% end %>
    </div>
  </div>
</div>
<% end %>
